__pycache__/
*.pyc
.DS_Store
*.egg-info/

__pycache__/
*.pyc
.DS_Store
*.egg-info/

__pycache__/
*.pyc
.DS_Store
*.egg-info/

.venv312
build-stub-fresh
build-stub
build-wheel-static
build_*
docs/_build
.vscode
*.whl
build-mergeverify
